<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
    <title id="title">Hockey Heatmap</title>
</head>

<body>

    <nav class="navbar has-shadow" role="navigation" aria-label="main navigation" id="app">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://hockey-community.com">
                <img src="hc_logo.jpg">
            </a>
        </div>
        <div class="navbar-menu">
            <!-- navbar start, navbar end -->
            <div class="navbar-start is-active" v-cloak>
                <!-- navbar items -->
                <div class="navbar-item">
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Enter a location" id="search-input">
                        </div>
                    </div>
                </div>
                <div class="navbar-item">
                    <div class="field">
                        <!-- <label class="label">Rink Type</label> -->
                        <div class="control">
                            <div class="select">
                                <select v-model="rink_type" v-on:change="clearMarkers(); clearHeatmap(); getRinkLocations();">
                                    <option v-for="option in rink_type_options" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-item">
                    <div class="field">
                        <!-- <label class="label">Map Layer</label> -->
                        <div class="control">
                            <div class="select">
                                <select v-model="map_layer" v-on:change="getRinkLocations()">
                                    <option v-for="option in map_layer_options" v-bind:value="option.value">
                                        {{ option.text }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-item">
                    <div v-if="loaderMessage">
                        <h2>{{loaderMessage}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="map"></div>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://use.fontawesome.com/162abbfb12.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoSwNplCyIXVeY3UB2nIP96vadPOoRqCI&libraries=visualization,places">
    </script>
    <!-- <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script> -->
    <script type="text/javascript" src="main.js"></script>
</body>

</html>